body {
  background: linear-gradient(rgba(249, 237, 50, 1), #D9BD32);
}
.login-container {
  height: 100vh;
}

.login-form {
  background-color: #FCFEFF;
  height: 630px;
}
.cuenta{
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
}
.login-bank{
  margin-bottom: 100px;
}
  .login-form button {
    margin-bottom: 60px; 
  }

.login-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
.iniciar  {
  width: 40%;
  padding: 10px;
  background-color: #F9ED32;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.iniciar:hover {
  background-color: #000000;
  color: #fffefe;
}
.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.arrow-left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
}
